.navbar {
  width: 100%;
  background-color: var(--bg-color-smith-black);
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar-logo h2 {
  font-size: 1.4rem;
  color: var(--bg-color);
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-links > li {
  padding-left: 1.5rem;
}

.navbar-links > li > a {
  text-decoration: none;
  color: var(--bg-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.navbar-links > li > a span {
  display: flex;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
}

.cart-link {
  background-color: var(--bg-gray);
  padding: 10px;
  border-radius: 8px;
}

.cart-link:hover {
  background-color: var(--bg-light-blue);
}

.cartlogo-badge {
  width: 30px;
  height: 30px;
  background-color: var(--bg-color);
  border-radius: 50%;
  margin-left: 8px;
  color: var(--bg-color-smith-black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu:hover > div {
  background-color: var(--bg-light-blue);
}

.hamburger-menu > div {
  height: 3px;
  width: 100%;
  background-color: var(--bg-color);
}

@media (max-width: 960px) {
  .navbar-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar-logo h2 {
    font-size: 1rem;
  }
}
